body {
    background-color: rgb(219, 138, 32);
    text-align: left;
    list-style-position: unset;
    font-size: 18px;
    font-weight: 300;
}

img {
    width: 450px;
    height: auto;
    border: 3px solid black;
}

.center-align {
    margin: auto;
    width: 50%;
    background-color: rgb(198, 128, 37);
    padding-top: 15px;
    padding-bottom: 400px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.hyper-links li a {
    color: rgb(12, 80, 228);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.title {
    font-family: 'Brush Script MT', Georgia, 'Times New Roman', Times, serif, Courier, monospace;
    font-weight: 600;
    font-size: 35px;
}

.title.main-page {
    font-size: 55px;
}

.heading,
.subheading {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(40, 79, 143);
    font-size: 30px;
}

.subheading {
    font-size: 20px;
    font-weight: 300;
}

#main-page-link {
    color: rgb(255, 129, 251);
    font-weight: 400;
    font-size: 22px;
}